// Text
$light-text-primary: #0b1739;
$light-text-white: #FFFFFF;
$light-text-gray: rgba(255, 255, 255, 0.5);
$light-text-active: #3eb57c;
$light-text-error:rgb(197, 43, 43);

// Blocks
$light-block-primary: #FFFFFF;
$light-block-black: #000;
$light-block-green: #3eb57c;
$light-block-green-second: #73be9a;
$light-block-gray: rgba(255, 255, 255, 0.5);
$light-text-disabled: rgba(255, 255, 255, 0.2);

// Gradients
$light-gradient-green: linear-gradient(
    135deg, 
    rgba(174, 228, 178, 0.3) 0%, 
    rgba(149, 208, 161, 0.3) 100%
);

// Icons
$light-icon-default: #0b1739;
$light-icon-white: #FFFFFF;
$light-icon-active: #3eb57c;
$light-icon-gray: #ffffff80; // #ffffff80 = rgba(255, 255, 255, 0.5)

// Buttons
$light-gray-button: rgba(11, 23, 57, 0.2);