@use "base/reset" as *;
@use "fonts" as *;

html,
body {
    font-family: 'PT Root UI', -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    background: $light-block-primary;
    color: $light-text-primary;
}

.wrapper {
    padding: 0 calc(50% - 720px);

    @media (max-width: 1439px) {
        padding: 0 calc(50% - 426px);
    }

    @media (max-width: 959px) {
        padding: 0 24px;
    }
}

svg {
    color: $light-icon-default;
}

.nuxt-icon{
    margin-bottom: 0 !important;
  }