@use "sass:map";

/*
  Объявляем миксины в формате: UI - font-size - line-height - font-weight
  В случае если что-то указывается в процентах, то добавляем p (ex: UI-16-150p-400)
  Добавляем миксины строго в порядке убывания от большего к меньшему для более удобного поиска
*/

@mixin UI-54-55-700 {
    font-size: 54px;
    line-height: 55px;
    font-weight: 700;
}

@mixin UI-16-24-400 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

@mixin UI-15-22-400 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

@mixin UI-14-20-400 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

@mixin UI-13-18-400 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}